.task {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
  background: #fe7575;
  padding: 5px 10px;
}
.task span {
  min-width: 60%;
}

.edit-input {
  width: 60%;
}
