.app {
  display: flex;
  background: #ff6666;
  flex-direction: column;
  width: 450px;
  min-height: 650px;
  max-height: max-content;
  align-items: center;
  margin: 20px auto;
  padding: 20px 30px;
}
.task-list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
